name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
            python-version: 3.9
      - uses: pre-commit/action@v2.0.0
      - name: Install mypy
        run: |
          python -m pip install mypy types-certifi
      - name: mypy
        run: |
          mypy yagdal

  test:
    needs: linting
    name: ${{ matrix.os }}, ${{ matrix.python-implementation }}=${{ matrix.python-version }}, GDAL=${{ matrix.gdal-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10']
        python-implementation: [python]
        gdal-version: ['*']
    steps:
      - uses: actions/checkout@v2

      - name: Setup Conda
        uses: s-weigand/setup-conda@v1
        with:
          conda-channels: conda-forge

      - name: Install Env
        shell: bash
        run: |
          conda config --prepend channels conda-forge
          conda config --set channel_priority strict
          conda create -n test ${{ matrix.python-implementation }}=${{ matrix.python-version }} cython libgdal=${{ matrix.gdal-version }} numpy shapely xarray pandas
          source activate test
          python -m pip install -e . --no-use-pep517 || python -m pip install -e .
          python -m pip install -r requirements-test.txt

      - name: Check and Log Environment
        shell: bash
        run: |
          source activate test
          python -V
          conda info

      - name: Install pylint
        shell: bash
        if: matrix.python-implementation == 'python'
        run: |
          source activate test
          python -m pip install pylint

      - name: pylint
        shell: bash
        if: matrix.python-implementation == 'python'
        run: |
          source activate test
          pylint yagdal

      - name: Test with Coverage
        shell: bash
        if: matrix.python-implementation == 'python'
        run: |
          source activate test
          py.test --cov-report term-missing --cov=yagdal --cov-report xml


      - name: Test Build docs
        shell: bash
        if: contains(matrix.os, 'ubuntu') && matrix.python-implementation == 'python'
        run: |
          source activate test
          python -m pip install -r requirements-docs.txt
          sphinx-build -b html docs/ docs/_build/
          sphinx-build -b man docs/ docs/_build/

      - uses: codecov/codecov-action@v1
